<h1>Help</h1>
<p>Get help on the <a href="http://www.railstutorial.org/help"> Ruby Tutorial help page</a>. To get help on this sample app, see the <a href="http://www.railstutorial.org/book">Ruby on Rails Tutorial book</a>.</p>
